<footer class="invisible" style="padding-bottom: 30px">
    <div class="container">
        <hr>
        <p>Copyright &copy; 2017 <a href="https://github.com/MathewSachin">Mathew Sachin</a>. All Rights Reserved.</p>
    </div>
</footer>

<script>
$(function() {
    $(window).resize(function() {
        var docHeight = $(window).height();
        var footerHeight = $('footer').outerHeight();
        var footerTop = $('footer').position().top + footerHeight;

        if (footerTop < docHeight) {
            $('footer').css('margin-top', (docHeight - footerTop) + 'px');
        }
        else {
            $('footer').css('margin-top', '');
        }

        $('footer').removeClass('invisible');
    });

    $(window).resize();
})
</script>